.buttons{
    margin: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.ball-button{
    border:none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: x-large;
    color: black;
    box-shadow: 3px 4px #999;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    user-select: none;
}
.ball-button::before{
    content: "";
    display: block;
    position: absolute;
    background-color:white;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    top: 35%;
    left: 35%;
    z-index: -1;
    opacity: 0.75;
}
.ball-button.active, .clear-button.active, .win-button.active{
    transform: translateY(4px);
}
.ball-button:hover, .clear-button:hover, .win-button:hover{
    cursor: pointer;
}

.red{
    background: radial-gradient(circle at 65% 15%,
     white 1px,  #e74a49 3%, red 60%, #7c170f 100%)
}
.yellow{
    background: radial-gradient(circle at 65% 15%,
     white 1px,  #f9f4b1 3%, yellow 60%, #b2a22e 100%)
}
.green{
    background: radial-gradient(circle at 65% 15%,
     white 1px,  #a8e6a3 3%, green 60%, #176b1f 100%)
}
.brown{
    background: radial-gradient(circle at 65% 15%,
     white 1px,  #d2a679 3%, brown 60%, #2e1d0f 100%)
}
.blue{
    background: radial-gradient(circle at 65% 15%,
     white 1px,  #a3c8e6 3%, blue 60%, #173f6b 100%)
}
.pink{
    background: radial-gradient(circle at 65% 15%,
     white 1px,  #eeb0da 3%, pink 60%, #6a235d 100%)
}
.black{
    background: radial-gradient(circle at 65% 15%,
     white 1px,  #8e8484 3%, black 60%, #1f1f1f 100%)
}
.grey{
    background: radial-gradient(circle at 65% 15%,
     white 1px,  #b0b0b0 3%, grey 60%, #3f3f3f 100%)
}

.reset-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.clear-button{
    border-radius: 10px;
    width: 75px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.win-button{
    border: none;
    background-color: lightgray;
    width: 50px;
    height: 50px;
    font-size: xx-large;
    opacity: .25;
}
