body{
    background-color: grey;
    zoom: 1.2;
    font-family: 'inter', sans-serif;
}
.Name{
    text-align: center;
    margin: 1%;
    border: gray 2px solid;
    background-color: lightgray;
    font-size: x-large;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.Score-window{
    background-color: lightgrey;
    padding: 10px;
    margin: 5ch;
}
.Score{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    font-size: xxx-large;
    margin: 1%;
}
