.game{
    background-color: lightgrey;
    padding: 5px;
    padding-top: 4px;
    margin: 5ch;
    width: 50%;
    justify-self: center;
    justify-items: center;
    border-radius: 10px;
    border: 2px solid darkgray;
    zoom:1.1;
    margin-top: 5px;
}

.game-title{
    margin: 1%;
    font-size: xx-large;
}

.divider{
    margin: 1%;
    padding-left: 10%;
    padding-right: 10%;
}

.win-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
}

.win-count{
    width: 5%;
    font-weight: 300;
    text-align: center;
}

.player-names{
    background-color: rgb(120, 118, 118);
    padding: 5px;
    padding-top: 4px;
    margin: 5ch;
    width: 50%;
    justify-self: center;
    justify-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

td {
  text-align: center;
  font-size: xx-large;
  font-weight: 1000;
}